[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"discord.py-stubs" = "*"

[packages]
"discord.py" = "*"
asyncpg = "*"
hashids = "*"

[requires]
python_version = "3.8"
